.first-block__template-article-1 {
  display: flex;
  justify-content: space-between;
}

.first-block__template-article-1__text {
  max-width: 450px;
  margin-right: 50px;
}

.second-block__template-article-1 {
  display: flex;
  justify-content: space-between;
}

.second-block__template-article-1__text {
  max-width: 540px;
  margin-right: 90px;
}

.third-block__template-article-1 {
  display: flex;
  justify-content: space-between;
}

.third-block__template-article-1__text {
  margin-left: 125px;
  max-width: 525px;
}

.fourth-block__template-article-1 {
  display: flex;
  justify-content: space-between;
}

.fourth-block__template-article-1__left {
  padding: 30px 45px;
  background: #BBE2FF;
  border-radius: 20px;
  max-width: 500px;
}

.fourth-block__template-article-1__right {
  margin-left: 125px;
  max-width: 525px;
}
