<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Title</title>
  <script src='template-2.js'></script>
</head>
<body>
<my-header></my-header>
<div class='main'>
  <section class='section'>
    <div class='container'>
      <div class='first-block__template-article-1'>
        <div class='first-block__template-article-1__text'>
          <h2 class='subtitle' id='title1'></h2>
          <p class='paragraph-24 mt-20 weight-600' id='subtitle1'></p>
          <p class='mt-25' id='paragraph1'>
          </p>
        </div>
        <div class='first-block__template-article-1__img'>
          <img src='../../assets/img/template-1/Rectangle%2044.png' style='width: 100%; height: 100%;' class='radius'
               alt=''>
        </div>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class='container'>
      <div class='third-block__template-article-1 mt-20'>
        <div class='third-block__template-article-1__img'>
          <img src='../../assets/img/template-1/Rectangle%2044.png' style='width: 100%; height: 100%;' class='radius'
               alt=''>
        </div>
        <div class='third-block__template-article-1__text'>
          <h2 class='subtitle' id='title2'></h2>
          <ul class='mt-25' id='points1'></ul>
        </div>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class='container'>
      <h2 class=' subtitle weight-600' id='title3'></h2>
      <div style='display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; grid-column-gap: 20px; grid-row-gap: 0;'>
        <div class='mr-20'>
          <p class=' text-wrap paragraph-24 mt-20 weight-600' id='subtitle2'></p>
          <p id='paragraph2' class='mt-25'></p>
        </div>
        <div>
          <p class=' text-wrap paragraph-24 mt-20 weight-600' id='subtitle3'></p>
          <p id='paragraph4' class='mt-25'></p>
        </div>
      </div>
    </div>
  </section>


  <section class='section'>
    <div class='container'>
      <div>
        <p class=' text-wrap paragraph-24 mt-20 weight-600' id='subtitle4'></p>
        <div
          style='display: grid; grid-template-columns: repeat(2, auto); grid-template-rows: 1fr; grid-column-gap: 20px; grid-row-gap: 0;'>
          <ul class='mt-25' id='points2' style='max-width: 500px'></ul>
          <ul class='mt-25' id='points22' style='max-width: 500px'></ul>
        </div>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class='container mt-70'>
      <div
        style='display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; grid-column-gap: 20px; grid-row-gap: 0;'>
        <div>
          <h2 class=' subtitle weight-600' id='title4'></h2>
          <p class='text-wrap paragraph-24 mt-20 weight-600' id='subtitle5'></p>
          <ul class='mt-25' id='points3' style='max-width: 500px'></ul>
        </div>
        <div class='third-block__template-article-1__img' style='text-align: end;'>
          <img src='../../assets/img/Rectangle%20100.png' style='width: 70%;' class='radius'
               alt=''>
        </div>
      </div>
    </div>
  </section>

  <section class='section'>
    <div class='container'>
      <div style='display: grid; grid-template-columns: repeat(2, 1fr); grid-template-rows: 1fr; grid-column-gap: 20px; grid-row-gap: 0;'>
        <p id='paragraph5' class='mt-25'></p>
        <p id='paragraph6' class='mt-25'></p>

      </div>
    </div>
  </section>

  <section class='section'>
    <div class='container'>
      <div class='third-block__template-article-1 mt-20'>
        <div class='third-block__template-article-1__img'>
          <img src='../../assets/img/template-1/Rectangle%2095.png' style='width: 100%; height: 100%;' class='radius'
               alt=''>
        </div>
        <div class='third-block__template-article-1__text'>
          <h2 class=' subtitle weight-600' id='title5'></h2>
          <p class=' text-wrap paragraph-24 mt-20 weight-600' id='subtitle6'></p>
          <p id='paragraph7' class='mt-25'></p>
          <p class='paragraph-24 mt-20 weight-600' id='subtitle7'></p>
          <ul class='mt-25' id='points4'></ul>
        </div>
      </div>
    </div>
  </section>


  <section class='section'>
    <div class='container'>
      <div class='third-block__template-article-1 mt-20'>
        <div class='third-block__template-article-1__img mr-20'>
          <p class='text-wrap paragraph-24 mt-20 weight-600' id='subtitle8'></p>
          <p id='subtitle9' class='mt-25'></p>
        </div>

        <div class='fourth-block__template-article-1__right'>
          <p class='paragraph-24 mt-20 weight-600' id='paragraph8'></p>
          <div class='button-black-border'>
            <p class='paragraph-24 weight-600'>больше статей</p>
            <img src='../../assets/img/icon/Arrow-right.svg' alt=''>
          </div>
          <div class='button-black-border'>
            <img src='../../assets/img/icon/Arrow-left.svg' alt=''>
            <p class='paragraph-24 weight-600'>на главную</p>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>
<my-footer></my-footer>
</body>
</html>
